.form-control{
    display:block;width:100%;
    padding:.375rem .75rem;
    font-size:1rem;font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;border:1px solid #ced4da;
    -webkit-appearance:none;
    -moz-appearance:none;appearance:none;
    border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}



    .from{
        display: flex;
        align-items: center;
        width: 150px;
        padding-left:85px;
        height: 85px;
        gap: 13px;
        border-radius: 32px 0px 0px 32px;
        background-color: rgb(255, 255, 255);
    }
    .to-input{
        display: flex;
        align-items: center;
        width: 150px;
        padding-left:85px;
        height: 85px;
        gap: 13px;
        background-color: rgb(255, 255, 255);
        
    }
    
    .changeinput{
        input:focus{
            outline:none;
            background-color:#dbdbee;
            box-shadow:none;
            padding-left:0px !important;
            }

    }
   
    input:focus{
               outline:none;
               background-color:#dbdbee;
               box-shadow:none;
            //    padding-left:80px;
               }
               
    .st-label{
        position:absolute;
        padding:30px;
        top:9px;
        left:35px;
    }		
    .icon-bus{
        position: absolute;
        top: 22px;
        font-size: 28px;
        left: 12px;
    }	

    .search-btn{
        width: 200px;
        height: 98px;
        // padding: 20px;
        gap: 12px;
        background: rgb(216, 78, 85);
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
        border-radius: 0px 32px 32px 0px !important;
    }
    
 
    li{
        list-style-type: none;
        a{
            text-decoration: none;
            color: gray;
        }
    }
    .slick-track{
        display: flex;
    }

    @media(max-width:576px){
 
    .form-controlcc{
        // display:block;
        width:90%;
        padding:.375rem .75rem;
        font-size:1rem;font-weight:400;
        line-height:1.5;
        color:#212529;
        background-color:#fff;
        background-clip:padding-box;border:1px solid #ced4da;
        -webkit-appearance:none;
        -moz-appearance:none;appearance:none;
        border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
    .search-btnt{
        width: 98%;
        height: 44px;
        
        gap: 12px;
        background: rgb(216, 78, 85);
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
    
    }
    .fromm{
        display: flex;
        align-items: center;
        width: 100%;
        /* // padding-left:85px; */
        height: 50px;
        gap: 13px;
       
        background-color: rgb(255, 255, 255);
    }


    .to-inputt{
        display: flex;
        align-items: center;
        width: 75%;
        /* // padding-left:85px; */
        height: 50px;
        gap: 13px;
        background-color: rgb(255, 255, 255);
        
    }
    li{
        list-style-type: none;
        a{
            text-decoration: none;
            color: gray;
        }
    }
    
        
    
    }

    @media(min-width:768px) and (max-width:991px){


        
    .form-controlcc{
        // display:block;
        width:95%;
        padding:.375rem .75rem;
        font-size:1rem;font-weight:400;
        line-height:1.5;
        color:#212529;
        background-color:#fff;
        background-clip:padding-box;border:1px solid #ced4da;
        -webkit-appearance:none;
        -moz-appearance:none;appearance:none;
        border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
    .search-btnt{
        width: 97%;
        height: 44px;
        
        gap: 12px;
        background: rgb(216, 78, 85);
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
    
    }





    }

    


        
        